:root {
  --accent-color: #ff0000;
}

body {
	background-image: url(../img/background.png);
	background-color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hidden{
	visibility: hidden;
}

.logo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 80vh;
	margin: 3.5%;
	width: auto;
	z-index: 10;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.agenda {
	background: url(../img/backgroundInfimum.svg);
	display: block;
	height: 100%;
	width: 100%;
	padding: 1.5em 2.5em;
	/*text-shadow: 0.05em 0.05em 0.2em #000000;*/
}

	.agenda .parent {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 0;
	}

	.agenda .fa-stack {
		color: #ffffff;
		grid-area: 1 / 1 / 2 / 2;
		float: left;
		font-size: 2.5em;
		line-height: 0.65em;
	}

	.agenda .day{
		display: block;
		font-size: 0.75em;
	}
	.agenda .month {
		display: block;
		font-size: 0.5em;
	}

	.agenda .activity-name {
		font-weight: normal;
		color: #ffffff;
		grid-area: 1 / 2 / 2 / 3;
		font-size: 2.5em;
		margin: 0 0 0 0.5em;
	}

	.agenda .myfuture{
		margin-bottom: 2.5em;
		margin-left: 0.5em;
	}

	.agenda .calendar-text{
		text-align: center;
		margin-top: .4em;
		color: #c40000;
	}

	.agenda .title {
		color: #ffffff;
		font-size: 4em;
		margin: 0;
		padding: 0 0 0.3em 0;
	}

	.agenda ul {
		list-style: none;
		margin: 0;
		padding: 0 0.5em 0 0.5em;
	}

	.agenda .strike{
		text-decoration: line-through;
	}

		.agenda ul li {
			display: flex;
  			align-items: center;
			margin: 0;
			padding: 1em 0 0 0;
		}

/*.poster {*/
/*	display: block;*/
/*	height: 100%;*/
/*	width: 100%;*/
/*	!*object-fit: contain;*!*/
/*}*/

.poster {
	/*background-color: #000000;*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	backdrop-filter: blur(5px);
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.tvpc-photo {
	background-color: #000000;
	position: relative;
	padding: 0;
	width: 100%;
	height: 100%;
}

.tvpc-photo-background-image{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:1;
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
	opacity: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tvpc-photo-content {
	position:relative;
	z-index:2;
	display: block;
	object-fit: contain;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.tvpc-ns {
	background-color: rgba(254, 201, 23, 0.9);
	color: #003082;
	display: block;
	min-height: 100%;
	width: 100%;
	padding: 1.5em 2.5em;
}

@keyframes tvpc-ns-scroll {
	from {transform: translateY(0)}
	to {transform: translateY(calc(-100% + 100vh))}
}

	.tvpc-ns h1 {
		font-size: 4em;
		margin: 0;
		padding: 0;
	}

	.tvpc-ns table {
		margin: 0;
		padding: 0;
		width: 100%;
		overflow: hidden;
	}

			.tvpc-ns table tr.tvpc-ns-cancelled td div {
				opacity: 0.4;
			}

			.tvpc-ns table tr td.tvpc-ns-header {
				text-align: center;
				font-size: 2em;
				background-color: #003082;
				color: rgba(254, 201, 23, 1);
				width: 100vw;
			}

			.tvpc-ns table tr td.tvpc-ns-header img {
				height: 1em;
				vertical-align: text-bottom;
				margin-bottom: 9px;
			}

			.tvpc-ns table tr td {
				border-color: rgba(255, 255, 0, 0.5);
				border-style: solid;
				border-width: 0 0 1px 0;
				margin: 0;
				padding: 0.3em 0 0.3em 0;
				vertical-align: middle;
			}

			.tvpc-ns table tr td.tvpc-ns-departure {
				font-size: 2em;
				padding-left: 0.5em;
				text-align: left;
				width: 1px; /*Note the no-wrap*/
			}

			.tvpc-ns table tr td.tvpc-ns-delay {
				color: #ff0000;
				font-size: 1.5em;
				padding: 0 0 0.8em 0;
				white-space: nowrap;
				width: 4%;
			}

			.tvpc-ns table tr td.tvpc-ns-relative-time {
				font-size: 1em;
				padding: 0 0.5em;
				text-align: left;
				width: 1px;
				white-space: nowrap;
				font-style: italic;
			}

			.tvpc-ns table tr td.tvpc-ns-destination {
				font-size: 2em;
				vertical-align: middle;
				display: table;
				width: 99%; /*Note the no-wrap*/
			}

			.tvpc-ns table tr td div.tvpc-ns-direction {
				display: table-cell;
				vertical-align: middle;
				width: 1%;
				white-space: nowrap;
			}

			.tvpc-ns table tr td div.tvpc-ns-info {
				display: table-cell;
				vertical-align: middle;
				font-size: 0.5em;
				line-height: 1.2em;
				padding-left: 1em;
			}

.infima {
	background: url(../img/backgroundInfimum.svg);
	display: block;
	min-height: 100%;
	width: 100%;
}

.infima .container {
	width:100%;
	height: 1000px;
	position: relative;
}

.vertical-center {
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
	.vertical-line{
		border-left: 15px solid #ffffff;
		padding-left: 37px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	/*.infima h1 {*/
	/*	font-size: 4em;*/
	/*	margin: 0;*/
	/*	padding: 0 0 0.3em 0;*/
	/*}*/

	.infima .infima-speaker, .infima .infima-quote {
		font-family: inherit;
		font-size: 2.5em;
	}

	.infima .infima-speaker{
		white-space: pre-line;
		font-style: italic;
	}

.tvpc-iframe {
	border: none;
	display: block;
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}
